<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
  <link rel="stylesheet" href="/stylesheets/main.css" />
  <title>Dental Touch</title>
  <link rel="shortcut icon" type="image/jpg" href="https://ocmain.s3-us-west-1.amazonaws.com/OnTopLocalProject/Group+20.png"/>
</head>
<body>
  <!-- navbar -->
  <nav 
    class="navbar fixed-top navbar-expand-md navbar-light p-3" >
      <a 
        class="navbar-brand"
        style="color: grey" 
        href="#">
        <i class="fas fa-tooth mr-1"></i>Dental Touch</a>
      <button
         class="navbar-toggler" 
         type="button" 
         data-toggle="collapse" 
         data-target="#navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" 
         aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div 
        class="collapse navbar-collapse justify-content-end" 
        id="navbarNav">
        <span 
          class="nav-link" 
          href="#"
          >(986) 456-3214</span>
        <span 
          class="nav-link" 
          href="#"
          >1234 E Nostrud cupidatat Road, ZA 98765  </span>
    </div>
    <div id="navbarProgress"></div>
  </nav>

  <!-- intro banner -->
  <div class="main-banner">
    <div class="banner-content container text-center">
      <div class="banner-text">
        <h3 class="pb-2"><i class="fas fa-tooth mr-1"></i>Dental Touch</h3>
        <h1>Reclaim your confidence and get a better smile!</h1>
        <button class="btn-lg btn-primary" type="button" ><b>Schedule an Appointment</b></button>
      </div>
    </div>
  </div>

<!-- main page content -->
  <div class="content-wrapper">
    <div class="container">
      <div class="intro text-center">
        <h1 class="mb-2">Single-origin coffee distillery hashtag, health goth cliche wolf sartorial.</h1>
        <hr style="background-color: #4998ff; width: 5em; height: .25em; margin-top: 0;">
        <p class="my-2">Letterpress asymmetrical truffaut occupy hoodie fanny pack, meggings chambray mustache readymade. Stumptown shabby chic sartorial fixie DIY. Heirloom kitsch marfa beard tousled, waistcoat hammock vaporware celiac put a bird on it.
        </p>
      </div>
    </div>
    
  <!-- cards -->
    <div class="infoCards">
        <div class="card text-center">
              <div class="card-body">
                <div class="cardIcon">
                  <i class="fas fa-smile-beam"></i>
                </div>
                <h5 class="card-title">Kale chips palo santo, meditation tumeric pabst beard.</h5>
                <p class="card-text">Chambray skateboard aesthetic, tbh fanny pack hexagon tattooed vaporware. Fanny pack farm-to-table retro, microdosing art party slow-carb snackwave vaporware meditation tumeric food truck selfies.</p>
              </div>
            </div>
          <div class="card text-center">
            <div class="card-body">
              <div class="cardIcon">
                <i class="fas fa-tooth"></i>
              </div>
              <h5 class="card-title">Hammock health goth jean shorts green juice poke freegan umami activated charcoal prism.</h5>
                  <p class="card-text">Air plant tousled normcore selfies woke bushwick tilde unicorn etsy. Iceland scenester la croix hot chicken. Glossier affogato kitsch direct trade. Intelligentsia ramps chambray authentic.</p>
            </div>
          </div>
          <div class="card text-center" >
            <div class="card-body">
              <div class="cardIcon">
                <i class="fas fa-calendar-alt"></i>
              </div>
              <h5 class="card-title">Slow-carb chillwave fixie art party woke.</h5>
                  <p class="card-text">Biodiesel tofu fanny pack hell of selvage. Leggings mustache sustainable adaptogen chillwave celiac swag. Twee hammock blue bottle, tumeric succulents iPhone messenger bag.</p>
            </div>
        </div>
    </div>
</div>


  <div class="summary">
    <div class="container d-flex">
      <div class="summary-text">
        <h2 class="pb-1">Taxidermy swag intelligentsia, semiotics hot chicken live-edge wayfarers pabst stumptown farm-to-table.</h2>
        <p>Godard slow-carb migas readymade thundercats farm-to-table seitan retro adaptogen prism yuccie gastropub YOLO chicharrones cray.</p>
        <p>Food truck roof party green juice taxidermy selfies heirloom.</p>
      </div>
    </div>
  </div>

  <div class="content-wrapper my-5"> 
    <div class="container text-center">
      <h1 class="mb-2 pt-5">Pitchfork glossier poke austin, butcher knausgaard kickstarter shabby chic.</h1>
        <hr style="background-color: #4998ff; width: 5em; height: .25em; margin-top: 0;">
    </div>
    <div class="infoCards2">
          <div class="card text-center" >
                <img 
                class="card-img-top" 
                style="height: 20em;" 
                src="https://images.unsplash.com/photo-1588776814546-1ffcf47267a5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt="Card image cap">
                <div 
                class="card-body" 
                style="background-color: #4998ff;">
                  <h5 class="card-title">Adaptogen everyday carry 3 wolf moon vegan chicharrones ethical.</h5>
                </div>
            </div>
            <div class="card text-center" >
              <img class="card-img-top" style="height: 20em;" src="https://images.unsplash.com/photo-1609840113322-a70583f106eb?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1310&q=80" alt="Card image cap">
              <div class="card-body" style="background-color: #4998ff;">
                <h5 class="card-title">Twee pitchfork man bun humblebrag tacos meditation cloud bread organic locavore.</h5>
              </div>
            </div>
            <div class="card text-center" ">
              <img class="card-img-top" style="height: 20em;" src="https://images.unsplash.com/photo-1606811842243-af7e16970c1f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80" alt="Card image cap">
              <div class="card-body" style="background-color: #4998ff;">
                <h5 class="card-title">Readymade YOLO letterpress chicharrones, chartreuse butcher cray.</h5>
              </div>
          </div>
            <div class="card text-center" >
              <img class="card-img-top" style="height: 20em;" src="https://images.unsplash.com/photo-1584434081454-2a898b8e33d5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt="Card image cap">
              <div class="card-body" style="background-color: #4998ff;">
                <h5 class="card-title">Etsy humblebrag lumbersexual vice, street art paleo mixtape raw denim wolf ethical.</h5>
              </div>
          </div> 
    </div>
  </div>
  <div class="banner3">
    <div class="bannerInfo">
      <img src="https://images.unsplash.com/photo-1602896441343-ed0dc62ed65e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt="" >
      <h5>Kale Chips</h5>
      <p>Vinyl 90's butcher tumeric gastropub raw denim readymade letterpress. Typewriter shoreditch waistcoat marfa paleo single-origin coffee fingerstache.</p>
    </div>
    <div class="bannerInfo">
      <img src="https://images.unsplash.com/photo-1543430720-fa600c67e423?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1391&q=80" alt="" >
      <h5>Succulents Tumeric</h5>
      <p>Readymade photo booth selvage, food truck squid franzen stumptown cardigan butcher mumblecore subway tile vinyl irony. Trust fund mixtape vexillologist, hammock kinfolk photo booth polaroid.</p>
    </div>
    <div class="bannerInfo">
      <img src="https://images.unsplash.com/photo-1544507888-56d73eb6046e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt="" >
      <h5>Artisan Poutine</h5>
      <p>Raw denim slow-carb chicharrones skateboard hammock cloud bread locavore vinyl leggings, truffaut cardigan. Locavore try-hard church-key salvia literally PBR&B, poke pabst synth DIY venmo vape flexitarian.</p>
    </div>
  </div>

  <div class="content-wrapper" style="padding-bottom: 0;">
   <div class="footer">
     <div class="footerContent">
        <div class="aboutUs">
              <h3 style="border-bottom: 3px #4998ff solid;">About Us</h3>
              <h5>Wolf art party keytar tofu locavore yr PBR&B pug typewriter shabby chic fingerstache. Coloring book pour-over hoodie mlkshk, food truck vinyl palo santo iceland before they sold out. Squid vaporware taxidermy, helvetica intelligentsia try-hard mixtape bespoke XOXO banh mi taiyaki keytar kombucha lomo.</h5>
            </div>
            <div class="locations" >
              <h6 style="border-bottom: 3px #4998ff solid;">Locations: </h6>
              <ul>
                <li>1234 E Raw denim bicycle rights, ZA 98765 </li>
                <li>4321 S Sriracha synth pour-over, AW 56985</li>
                <li>8659 N Migas vinegar cloud bread , OK 14785</li>
                <li>7948 W Organic tumblr adaptogen, DA 56545</li>
                <li>66966 E Vinyl helvetica venmo vaporware, PO 85969</li>
              </ul>
            </div>
            <div class="hours">
              <h6 style="border-bottom: 3px #4998ff solid;">Opening Hours:</h6>
                <ul>
                  <li>MONDAY - 8:00am - 4:00pm</li>
                  <li>TUESDAY - 8:00am - 4:00pm</li>
                  <li>WEDNESDAY - 8:00am - 4:00pm</li>
                  <li>THURSDAY - 8:00am - 4:00pm</li>
                  <li>FRIDAY - 8:00am - 4:00pm</li>
                  <li>SATURDAY - 8:00am - 4:00pm</li>
                  <li>SUNDAY - 8:00am - 4:00pm</li>
                </ul>
            </div>
            <div class="footerIcons">
              <div class="footerIconBackground">
                  <i class="fab fa-twitter"></i>
              </div>
              <div class="footerIconBackground">
                  <i class="fab fa-instagram"></i>
              </div>
              <div class="footerIconBackground">
                  <i class="fab fa-facebook"></i>
              </div>
              <div class="footerIconBackground">
                  <i class="fab fa-pinterest"></i>
              </div>
              <div class="footerIconBackground">
                  <i class="fab fa-youtube"></i>
              </div>
            </div>
     </div>
   </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>